.main {
    text-align: center;
    top: 7rem;
    left: 5rem;
    position: absolute;
    margin: 3rem auto;
    width: 90%;
    height: 5rem;
} 


/* position: absolute;
right: 1rem;
top: 10rem;
display: flex;
justify-content: center;
flex-direction: column;
width: calc(100% - 150px); */