.main {
    text-align: center;
    top: 3rem;
    left: 6rem;
    position: absolute;
    margin: 3rem auto;
    width: 90%;
    /* height: 5rem; */
} 


/* position: absolute;
right: 1rem;
top: 10rem;
display: flex;
justify-content: center;
flex-direction: column;
width: calc(100% - 150px); */