* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(228, 239, 239);
}

.container {
    height: 100%;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}
