.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.700);
    z-index: 1;
}

.modal {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    padding: 5rem;
    overflow: hidden;
    z-index: 1;
    position: absolute;
    border-radius: 7px;
    background: linear-gradient(46deg, rgb(255, 255, 255) 2%, rgb(113, 153, 203) 100%);
}
