main {
    position: absolute;
    right: 1rem;
    top: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 150px);
}

.main-top-container {
    padding: 1.7rem;
}

.crop-details {
    margin-bottom: 3.5rem;
}

.crop-details h1 {
    margin-bottom: 0.7rem;
}

.crop-details h4 {
    margin-bottom: 0.7rem;
}

.crop-details p {
    color: gray;
    font-size: 0.8rem;
}

.solutions-supported {
    margin-bottom: 1rem;
}

.solutions-supported h4 {
    margin-bottom: 0.7rem;
}

.yeild-unit-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 35%;
}

#yeild-unit {
    padding: 0.5rem;
    border: 1px solid lightblue;
}

.recommendation-unit-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 35%;
}

#reecommendation-unit {
    padding: 0.5rem;
    border: 1px solid lightblue;
}

.growth-stage-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 35%;
}

#growth-stage {
    padding: 0.5rem;
    border: 1px solid lightblue;
}

.selection-input-container {
    display: flex;
}

.yeild-unit-container {
    margin-right: 2.5rem;
}

/* .main-top-right-container {
   display: flex;
    align-items: center;
} */

.tab-container {
   border-bottom: 0.5px solid rgb(193, 193, 193);
}

#cnp-btn {
    color: darkgreen;
    border: none;
    padding: 5px;
    background-color: rgb(232, 251, 232);
}


summary {
    padding: 1rem;
    background-color: rgb(243, 245, 246);
    margin-bottom: 1rem;
}

.add-btn {
    display: flex;
    justify-content: right;
    padding: 0.5rem 1rem;

}

.add-btn button {
    padding: 1rem;
    background-color: #346eb6;
    color: white;
    border-radius: 7px;
    border: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.add-btn button:hover {
    background-color: #215696;
}

.main-top-container {
    padding: 2rem;
}