main {
    position: absolute;
    right: 1rem;
    top: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 150px);
} 


 .form-button {
    display: flex;
    justify-content: right;
 }

 .form-button button {
    background-color: rgba(121,168,215,255);
    padding: 0.7rem 1.3rem;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    margin-top: 6rem;
 }

 .form-button button:hover {
    background-color: rgb(38, 38, 144);
    box-shadow: 2px 2px 2px 3px rgba(0,0,0, .3);
 }