h3 {
    padding: 1rem;
}

table {
    width: 100%;
    padding: 0.5rem 1rem;
}

#last-mod {
    width: 10px;
}

thead {
    background-color: #346eb6;
    color: #fff;
}

tbody {
    background-color: #d1e3f7;
    color: #346eb6;
 }
 
td, th {
    text-align: left;
    padding: 1rem;
    text-align: left;
}

.last-td-row {
    background-color: #ffffff;
}

.last-td-row a {
    color: #346eb6;
}

.new {
    color: #f3ad6e;
    margin-left: 0.3rem;
}
 .status {
    border-radius: 100%;
    background-color: green;
    height: 1rem;
    width: 1rem;
    margin-right: 0.3rem;
 }

 #status-td {
    display: flex;
 }

