.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.supplier-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.supplier-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.client-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.client-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}
.product__country {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.number_of_orders {
    color: rgb(4, 93, 4);
}

.phone_number {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(119, 117, 117);
    padding: 1rem;
}

.product__description {
    text-align: center;
}

.admin__navigation {
    border-bottom: 1px solid darkgreen;
    padding: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.admin__navigation img {
    height: 7rem;
}

.admin__navigation a {
    text-decoration: none;
    color: #52b521;
}

.admin__navigation a:hover {
    color: white;
}

#add-client-btn {
    font-weight: 600;
    font-size: 1.7rem;
    padding: 0.5rem 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 7px;
}

#add-supplier-btn {
    font-weight: 600;
    font-size: 1.7rem;
    padding: 0.5rem 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 7px;
}

#add-product-btn {
    font-weight: 600;
    font-size: 1.7rem;
    padding: 0.5rem 0.8rem;
    margin-bottom: 1.5rem;
    border-radius: 7px;
}