.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    margin: 1rem;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
}

.product__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
}

.admin__navigation {
    border-bottom: 1px solid darkgreen;
    padding: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.admin__navigation img {
    height: 7rem;
}

.admin__navigation a {
    text-decoration: none;
    color: #52b521;
}

.admin__navigation a:hover {
    color: white;
}