main {
    position: absolute;
    right: 430px;
    top: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
} 

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

#first-row-inputs {
    display: flex;
    flex-direction: row;
}

#crop {
    width: 24rem;
}

#region-input {
    width: 24rem;
}
 .input {
    border: 1px solid rgb(172, 171, 171);
    height: 25px;
 }

 form label {
    font-weight: bold;
 }

 .form-button {
    display: flex;
    justify-content: right;
 }

 .form-button button {
    background-color: rgb(77, 136, 155);
    padding: 0.7rem 1.3rem;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 1.2rem;
 }
