header{
    height: 99px;
    width: 100%;
    display: flex;
    border-bottom: 0.5px solid gray;
}

.logo img {
    width: 100px;
    height: 100px;
}
header .header{
    width: calc( 100% - 100px );
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.header .title {
    margin: 0 20px;
    font-size: 24px;
    font-weight: 600;
}

.header .settings-container {
    margin-left: auto;
}
.menu-container select, .settings-container select {
    border: none;
    font-size: 18px;
    font-weight: 600;
}
.menu-container select {
    margin-right: 20px;
}
.settings-container select{
    color: rgba(121,168,215,255);;
    margin-right: 20px;
}